{% extends 'base.html.twig' %}

{% block title %}Nouvelle playlist{% endblock %}

{% block body %}
<h1>Nouvelle playlist</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}

